:host {
  margin-top: 70px;
  display: block;
}

.input-container {
  width: 100%;
  margin-top: 15px;
}

.detail__actions {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.detail__actions button:first-child {
  margin-right: 12px;
}

.detail-agency__container {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.detail-agency__map {
  width: 1000%;
  max-width: 700px;
  height: 300px;
}
