<form [formGroup]="form">
  <mat-form-field class="input-container" appearance="fill">
    <mat-label>Nombre de Agencia</mat-label>
    <input
      matInput
      autocomplete="off"
      placeholder="Ejm: Heyner"
      formControlName="agencia"
    />
  </mat-form-field>

  <mat-form-field class="input-container" appearance="fill">
    <mat-label>Dirección</mat-label>
    <input
      matInput
      placeholder="Ejm: Av. Las Flores"
      formControlName="direccion"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field class="input-container" appearance="fill">
    <mat-label>Distrito</mat-label>
    <input
      matInput
      placeholder="Ejm: Aguas Verdes"
      formControlName="distrito"
      autocomplete="off"
    />
  </mat-form-field>

  <mat-form-field class="input-container" appearance="fill">
    <mat-label>Latitud</mat-label>
    <input
      matInput
      placeholder="Ejm: 53343.43"
      formControlName="lat"
      autocomplete="off"
      type="number"
    />
  </mat-form-field>

  <mat-form-field class="input-container" appearance="fill">
    <mat-label>Longitud</mat-label>
    <input
      matInput
      placeholder="Ejm: 32343.43"
      formControlName="lon"
      autocomplete="off"
      type="number"
    />
  </mat-form-field>

  <div class="detail__actions">
    <button
      [disabled]="form.invalid"
      (click)="onClick()"
      mat-raised-button
      color="primary"
    >
      {{ !!update ? "Actualizar" : "Agregar agencia" }}
    </button>
    <button (click)="onCancel()" mat-raised-button color="warn">
      Cancelar
    </button>
  </div>

  <div *ngIf="!!update" class="detail-agency__container">
    <iframe
      class="detail-agency__map"
      frameborder="0"
      style="border: 0"
      [src]="mapSrc"
      allowfullscreen
    >
    </iframe>
  </div>
</form>
