:host {
  position: fixed;
  z-index: 10000;
  width: 100vw;
  margin: 0 auto;
  height: 100vh;
  top: 0;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 330px;
  height: 190px;
}
