<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="search__wrapper" *ngIf="action == defaultAction">
      <div>
        <span>Agencias</span>
      </div>
      <div class="search__input">
        <input
          class="header__input-search"
          type="text"
          *ngIf="showInputSearch"
          placeholder="Nombre de agencia"
          [ngModel]="agencySearch"
          (ngModelChange)="search($event)"
        />

        <mat-icon
          class="header-icon"
          aria-hidden="false"
          (click)="onClickSearch()"
          >{{ showInputSearch ? "close" : "search" }}</mat-icon
        >
        <mat-icon class="header-icon" aria-hidden="false"
          >check_circle_outline</mat-icon
        >
      </div>
    </div>
    <p class="header__title" *ngIf="action == updateAction">
      Detalle de Agencia
    </p>
    <p class="header__title" *ngIf="action == addAction">Nueva Agencia</p>
  </mat-toolbar-row>
</mat-toolbar>
