:host {
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;
}

.header-icon {
  margin: 0 14px;
  cursor: pointer;
}

.header-spacer {
  flex: 1 1 auto;
}

.header__title {
  width: 100%;
  text-align: center;
}

.search__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search__input {
  display: flex;
  align-items: center;
}

.header__input-search {
  height: 25px;
  border: 0px;
  border-radius: 3px;
  padding: 5px;
}

.header__input-search:focus {
  outline: none;
}