:host {
  cursor: pointer;
}

.card-agency__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-agency__information {
  display: flex;
  align-items: center;
}

.card-agency__information-detail p {
  margin: 0;
}

.card-agency__image {
  border-radius: 100%;
  height: 50px;
  width: 50px;
  margin-right: 12px;
}

.card-agency__name {
  font-size: 16px;
  font-weight: bold;
}

.card-agency__location {
  font-size: 15px;
  font-weight: bold;
}

.card-agency__adress {
  font-size: 12px;
  font-weight: normal;
}
