<mat-card>
  <div class="card-agency__container">
    <div class="card-agency__information">
      <div>
        <img
          class="card-agency__image"
          [src]="'/assets/images/' + (agency.img || 'agencia-general.jpeg')"
          [alt]="agency.agencia"
        />
      </div>
      <div class="card-agency__information-detail">
        <p class="card-agency__name">{{ agency.agencia }}</p>
        <p class="card-agency__location">{{ agency.departamento }}</p>
        <p class="card-agency__adress">{{ agency.direccion }}</p>
      </div>
    </div>
    <div>
      <mat-icon
        class="example-icon"
        aria-hidden="false"
        aria-label="Example delete icon"
        >stars</mat-icon
      >
    </div>
  </div>
</mat-card>
